<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.chihau.hellosmsreceiver"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:label="@string/app_name"
            android:name=".SMSActivity" 
            android:launchMode="singleTask" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".SMSReceiver">
            <!-- La prioridad por defecto es 0 (puede ser entre -1000 y 1000) -->
            <intent-filter android:priority="1000">
                <action android:name=
                    "android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter> 
        </receiver>
    </application>

</manifest>
